<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>133268794215-hqiv1ar7s821sqvae6bvgpj7o7d16gvr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.133268794215-hqiv1ar7s821sqvae6bvgpj7o7d16gvr</string>
	<key>API_KEY</key>
	<string>AIzaSyDamj3JqLDL9h2E9ZdzeMKnhBKCU0tVT2w</string>
	<key>GCM_SENDER_ID</key>
	<string>133268794215</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jtolibov.aksessuarEmpAdmin</string>
	<key>PROJECT_ID</key>
	<string>aksessuar-employ</string>
	<key>STORAGE_BUCKET</key>
	<string>aksessuar-employ.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:133268794215:ios:b30170991e77ef4b92ddc2</string>
</dict>
</plist>